body {
 background-image: url('https://wallpaperaccess.com/full/414957.png');
 background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: black;
    font-size: 30px;


}
