


body {
 background-image: url('https://wallpaperaccess.com/full/1103905.jpg');
 background-color: #cccccc;
    background-repeat: no-repeat;
    background-attachment: fixed;
  background-position: center;
  background-size: cover;
  color: antiquewhite;

}
